<div class="new-main">
  <div class="row">
    <div class="container">
      <img alt ="open" class="icon-menu" src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-black.svg">
      <h1>Here so you can relive your memories</h1>
      
      <%= link_to "Sign-up Today", about_url, :class => "btn btn-primary" %>
      <a class="btn btn-primary" href="about">Learn More</a>
      <% form_for(@signup)
      
      
    </div>
  </div>
</div>