<div class="new-main">
  <div class="row">
    <div class="container">
      <a id="simple-menu" href="#sidr"> <img alt ="open" class="icon-menu" src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-black.svg"> </a>
      <h1>Here so you can relive your memories</h1>
      
      <div class='forum'>
      <%= form_for(@signup) do |f| %>
      <%= f.text_field :firstname, :placeholder => "Insert First name" %>
      <%= f.email_field :email, :placeholder => "Insert Email" %>
      <%= f.submit "Add to mailing list", class: "btn btn-submit" %>
      <% end %>
      </div>
      
    </div>
  </div>
</div>