<div class="about-main">
  <div class="row">
    <div class="container">
      
      <h1>Here so you can relive your memories</h1>
      
      <%= link_to "Sign-up Today", signup_url, :class => "signup btn btn-primary" %>
      
    </div>
  </div>
</div>

<div class="about-supporting">
  <div class="row">
    <div class="container">
      
      <h2> No more sorting through photos </h2>
      
      <h3> Save time sorting through old photos, we'll pick the best ones so you can spend more time creating memories, not choosing which ones to keep. </h3>
      
      <%= link_to "Sign-up Today", signup_url, :class => "btn btn-primary" %>
      
    </div>
  </div>
</div>
