// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon-menu{
  width:25px;
  margin: 50px 0 0 25px;
  float:left;
}

#icon-close{
  float:right;
  margin:10px;
}

.home-main{
	background-image: url("../images/Memories.jpg");
  background-position:center;
	background-size:cover;
  width: 100%;
  height: 600px;
  
  color:white;
}
.home-main h1{
  text-align: right;
  padding-top:75px;
}

.home-main #learnMoreMain{
  float:right;
  margin-right:125px;
}

.home-supporting{
  text-align: center;
  width: 100%;
  height: 200px;
  margin: auto;
}
.home-supporting h2,h3{
  padding:15px
}
.home-secondary{
  	background-image: url("../images/Lake.jpg");
  background-position:center;
	background-size:cover;
  width: 100%;
  height: 400px;
  
  
}

.home-discovery{
  text-align: center;
  width: 100%;
  height: 200px;
  margin: auto;
}







.about-main{
  background-image: url("../images/Concert.jpg");
  background-position-y: top;
	background-size:cover;
  width: 100%;
  height: 600px;
  
	text-align:center;
}

.about-main h1{
  text-align: center;
  text-shadow: 0 0 white;
  padding-top:75px
}



.about-supporting{
  text-align:center
    
}










.new-main{
   background-image: url("../images/Airport_transfer.jpg");
  background-position:top;
	background-size:cover;
  width: 100%;
  height: 600px;
  
}

.new-main h1{
  text-align: center;
  padding-top:175px;
}

.new-main .forum{
  text-align:center;
}




.thanks-main{
  background-image: url("../images/Yellow_beach.jpg");
  background-position:center;
	background-size:cover;
  width: 100%;
  height: 600px;
  
}

.thanks-main h1{
  text-align: center;
  padding-top:200px;
}

.thanks-main h3{
  text-align: center;
  margin-top:-10px;
}